:root {
  font-size: 10px;
  --color-primary: #57cc99;
  --color-secondary: #38a3a5;
  --color-tertiary: #e2eafc;
  --color-text-primary: #333;
  --color-text-secondary: #444;
  --color-box-shadow: rgba(0, 0, 0, 0.1);
  --color-box-shadow-hover: rgba(0, 0, 0, 0.2);
  --color-box-shadow-active: rgba(0, 0, 0, 0.3);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 1.6rem;
  overflow: hidden;
}

svg {
  fill: var(--color-text-primary);
  width: 30px;

  transition: all 0.2s;
}

li {
  text-decoration: none;
  list-style: none;
}

#container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 15fr 85fr;
}

.navigationBar {
  background-color: var(--color-primary);

  color: var(--color-text-primary);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.menu li,
.settings li {
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 3px 0;
  margin-left: -30px;
}

.menu li span,
.settings li span {
  margin-top: 3px;
  transition: all 0.2s;
}

.copyright {
  color: var(--color-text-secondary) !important;
  left: 10px;
  bottom: 10px;
  position: absolute;

  font-size: 10px;
}

li:hover svg,
.navigationBar li:hover {
  color: #fff;
  fill: #fff;
}

.navigationBar .logo {
  margin-top: -75%;
}

.menu,
.settings {
  margin-top: -65%;
}

.userSection {
  height: 100vh;
  display: grid;
  grid-template-rows: 22vh 78vh;
}

.header {
  background-color: var(--color-secondary);

  display: flex;
  flex-direction: column;
}

.header .upperSection {
  margin-top: 5px;
  background-color: var(--color-secondary);
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.search,
.user {
  margin: 0 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notifications svg {
  border-radius: 20px;
  padding: 3px 8px;
  background-color: var(--color-box-shadow);
  fill: #eee;
  height: 25px;
}

.notifications svg:hover,
.notifications svg:focus {
  background-color: var(--color-box-shadow-hover);
}

.notifications svg:active {
  background-color: var(--color-box-shadow-active);
}

.user .avatar img {
  height: 45px;
  border-radius: 50%;
  border: 2px solid #eee;
  transition: all 0.3s;
}

.user .avatar img:hover {
  filter: brightness(0.8);
}

.search {
  width: 60%;
  position: relative;
}

#searchBar {
  background-color: var(--color-tertiary);
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: 0 0 3px 1px var(--color-box-shadow);

  transition: all 0.3s;
}

#searchBtn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1px;
  right: -8px;
  fill: #888;
}

#searchBtn svg {
  fill: inherit;
  height: 20px;
}

#searchBar:hover,
#searchBar:active,
#searchBar:focus {
  background-color: #fff;
  box-shadow: none;
}

.user .username {
  color: #fff;
  font-weight: bold;
}

.header .lowerSection {
  /* width: 900px; */
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.lowerSection .greet {
  margin-left: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  color: #eee;
}

.greet .pfp img {
  width: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.greetingText {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.greetingText span:first-child {
  font-size: 12px;
  font-weight: 500;
}

.lowerSection .actions {
  width: 210px;
  gap: 10px;
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
}

.actions button {
  padding: 0px 8px;
  border: none;
  border-radius: 20px;
  background-color: var(--color-box-shadow);
  transition: all 0.3s;
  fill: #eee;
}

.actions button:hover,
.actions button:focus {
  background-color: var(--color-box-shadow-hover);
  outline: none;
}

.actions button:active {
  background-color: var(--color-box-shadow-active);
  fill: #fff;
}

.actions button svg {
  fill: inherit;
  height: 25px;
}

.userStatistics {
  background-color: var(--color-tertiary);
  display: grid;
  grid-template-columns: 80fr 20fr;
}

.userProjects {
  border: 5px solid #69bf9a;
  color: #eee;
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userProjects span:first-child {
  color: var(--color-text-primary);
  height: 40px;
  /* margin-top: 10px; */
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-self: flex-start;
}

.projects {
  margin-top: 0px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  justify-items: center;
  align-content: center;
  row-gap: 14px;
  column-gap: 20px;
}

.project {
  margin-bottom: 0px !important;
  width: 100%;
  height: min-content;
  border-left: 6px solid var(--color-primary);
  background-color: var(--color-tertiary);
  border-radius: 10px;

  fill: #333 !important;
  box-shadow: 0 0 3px 1px var(--color-box-shadow);

  transition: all 0.3s;
}

.aboutProject {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.project a {
  text-decoration: none;
}

.project img {
  border-radius: 5px 7px 0px 0px;
  width: 100%;
}

.project span {
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: bold;
  margin-left: 3px;
  text-align: start;
}

.aboutProject span:first-child {
  margin: 0;
  margin-left: 3px;
  margin-bottom: 5px;
  height: min-content;
}

.aboutProject span:last-child {
  font-size: 10px;
  max-height: 20px;
  text-overflow: ellipsis;
  font-weight: 400;
  padding: 0;
  margin-bottom: 10px;
}

.project .projectBtns {
  height: 40px;
  transform: translateY(-6px);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.project svg {
  fill: var(--color-text-secondary);
  height: 20px;
}

.project:hover {
  border-left: 6px solid var(--color-secondary);
  transform: scale(1.1);
}

.project:hover svg {
  fill: #38a3a5;
}

.userRecommendations {
  background-color: var(--color-primary);

  color: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.userRecommendations span {
  align-self: flex-start;
  margin-top: 15px;
  margin-bottom: -8px;
  margin-left: 28px;
  color: #333;
  font-weight: 400;
}

.announcements,
.profiles {
  background-color: var(--color-tertiary);
  width: 70%;
  height: max-content;
  padding: 5px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  justify-content: space-evenly;
  text-overflow: ellipsis;

  box-shadow: 0 0 3px 1px var(--color-box-shadow);
}

.announcement {
  color: var(--color-text-secondary);
}

.announcement:nth-child(1),
.announcement:nth-child(2) {
  padding: 5px 0;
  border-bottom: 1px solid #999;
}

.announcement {
  margin: 5px;
}

.announcement span:first-child {
  margin-left: 0;
  font-size: 11px;
  font-weight: bold;
}

.announcement span:last-child {
  margin-left: 0;
  padding-bottom: 5px;
  font-size: 10px;
}

.profiles {
  height: max-content;
  align-items: center;
}

.profile {
  color: var(--color-text-secondary);
}

.profile img {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  /* border: 2px solid var(--color-text-primary); */
}

.profile {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  padding: 4px;
  border-bottom: 1px solid #999;
}

.profile span:first-child {
  color: var(--color-text-primary);
  font-weight: bold;
}

.profile span:last-child {
  color: var(--color-text-secondary);
}

.profile:last-child {
  border: none;
}

.profile p {
  width: 100%;
  margin-top: -12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
